asgiref
blinker
certifi
chardet
click
colorama
cryptography
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
drf-yasg
idna
importlib-metadata
inflection
keyring
oauthlib
packaging
Pillow
protobuf
PyJWT
pytz
python-dateutil
PyYAML
requests
six
sqlparse
typing_extensions
urllib3
django-import-export